/* Główne style strony */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;  /* Ustawiamy pełną wysokość ekranu */
  }
  
  main {
    flex: 1;  /* Zapewnia, że main będzie zajmować całą dostępną przestrzeń, pozostawiając miejsce na stopkę */
    padding: 20px;
    text-align: center;
  }
  
  /* Przycisk "Skontaktuj się z nami" */
  .contact-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;  /* Oddalenie przycisku */
    margin-bottom: 30px;  /* Odsunięcie o dwa entery */
  }
  
  .contact-btn:hover {
    background-color: #004080;
  }
  
  /* Stylizacja dolnej belki (footer) */
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    z-index: 1000;  /* Zapewnia, że stopka będzie na wierzchu */
  }
  
  footer a {
    color: #ffb81c;
    text-decoration: none;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  /* Dodatkowy styl dla nagłówków, jeśli chcesz ładnie je wycentrować */
  h1, h2, h3 {
    color: #333;
    text-align: center;
  }
  