<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ 'https://dadmins1984.github.io/Web/assets/css/style.css' | relative_url }}">
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
    <button class="contact-btn">Skontaktuj się z nami</button>
  </main>
  {% include footer.html %}
  <script>
    function toggleMenu() {
      const nav = document.querySelector('nav');
      nav.classList.toggle('active');
    }
  </script>
</body>
</html>
